﻿<!DOCTYPE html>
<html>
<head>
    <title>Sample Kendo UI AngularJS Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/kendo.all.min.js")"></script>
</head>
<body ng-app="app" ng-controller="AppController as app">
    @RenderBody()
</body>
</html>
