<div kendo-grid k-options="mainGridOptions"></div>
<br />
<br />
<div id="listview-wrapper" ng-show="details">
    <div kendo-list-view="listView">
        <div class="product" k-template>
            <img ng-src="http://demos.telerik.com/kendo-ui/content/web/foods/{{dataItem.ProductID}}.jpg" alt=" {{dataItem.ProductName}} image" />
            <h3>Product: {{ dataItem.ProductName }}</h3>
            <p>Price: {{ dataItem.UnitPrice | currency }}</p>
            <p>Stock: {{ dataItem.UnitsInStock }}</p>
            <button class="k-button" ng-click="hideDetails()">Close details</button>
        </div>
    </div>
</div>
<script>
    angular.module("app", ["kendo.directives"])
        .controller("AppController", function ($scope, $http) {
            $scope.mainGridOptions = {
                columns: [
                    { field: "ProductID", title: "ID" },
                    { field: "ProductName", title: "Product Name" },
                    { command: [{ template: "<button class='k-button' ng-click='showDetails(dataItem)'>Show details</button" }] },
                ],
                pageable: true,
                dataSource: {
                    pageSize: 5,
                    transport: {
                        read: function (e) {
                            $http.jsonp('http://demos.telerik.com/kendo-ui/service/Products?callback=JSON_CALLBACK').
                            success(function (data, status, headers, config) {
                                e.success(data)
                            }).
                            error(function (data, status, headers, config) {
                                alert('something went wrong')
                                console.log(status);
                            });
                        }
                    }
                }
            };
            $scope.showDetails = function (dataItem) {
                $scope.details = true;
                $scope.listView.dataSource.data([dataItem]);
            }
            $scope.hideDetails = function () {
                $scope.details = false;
            }
        })
</script>
